 @font-face {
     font-family: 'MyFont';
     src: url('./common/fonts/iconfont.woff') format('woff');
     font-weight: 600;
     font-style: normal;
   }
   body{ 
     background: black;
   }
.hello {
  font-family: 'MyFont';
  color: red;
  background: url('./common/1.png')
}